#staff_members								{ list-style:none; margin:30px 0 0; padding:0; display:flex; justify-content:flex-start; flex-wrap:wrap; }
#staff_members li							{ margin:30px 0 0 1.25%; padding:0; width:100%; max-width:19%; position:relative; }

.staff_images								{ border:1px #cacaca solid; }
.staff_link									{ display:block; }	
.staff_link img								{ display:block; width:100%; }							
.staff_labels								{ width:100%; padding:5px 0 10px; }
.staff_labels p								{ margin-bottom:0; font-size:16px; line-height:20px; text-align:center; }
.staff_name									{ font-weight:bold; }
#staff_members a:hover						{ text-decoration:none; }
#staff_members a:hover .staff_labels 		{ background:rgba(0,0,0,0.1);  }
#staff_members a *							{
	-webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease; }

.staff-member-layout						{ display:flex; justify-content:space-between; align-items:flex-start; }
.staff-member-layout > *					{ display:block; width:100%; }
.staff-member-layout > *:after				{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.staff-member-layout .staff-left			{ max-width:27%; }
.staff-member-layout .staff-left img		{ display:block; max-width:100%; }
.staff-member-layout .staff-left p			{ background:#f3f3f3; padding:10px; border:1px #f3f3f3 solid; margin:0; }
.staff-member-layout .staff-right			{ max-width:70%; }
.staff_title								{ font-weight:normal; }


@media (min-width:801px){
	#staff_members li:nth-child(5n+1)		{ margin-left:0; clear:left; }
}

@media (max-width:800px) and (min-width:651px){
	#staff_members > li						{ max-width:24%; }
	#staff_members > li:nth-child(4n+1)		{ margin-left:0; clear:both; }
}

@media (max-width:650px) and (min-width:501px){
	#staff_members > li						{ max-width:32.5%; }
	#staff_members > li:nth-child(3n+1)		{ margin-left:0; clear:both; }
}

@media (max-width:600px){
	.staff-member-layout					{ flex-direction:column; }
	.staff-member-layout .staff-left		{ max-width:270px; margin:0 auto; }
	.staff-member-layout .staff-right		{ max-width:none; margin:15px 0 0; }
}

@media (max-width:500px) and (min-width:381px){
	#staff_members > li						{ max-width:49.375%; }
	#staff_members > li:nth-child(2n+1)		{ margin-left:0; clear:both; }
}

@media (max-width:380px){
	#staff_members > li						{ margin: 2% auto 0; max-width:250px; }
}